@import "../../ui/styles/variables/index";
@import "../../ui/styles/templates/spacing";

.contact-table-container {
  @include card-item-spacing;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  height: 85vh;
  min-width: 85vw;

  border-radius: $contact-card__border-radius;

  background-color: $contact-card-container__background-color;

  -webkit-box-shadow: -2px 8px 17px 5px rgba(0, 0, 0, 0.35);
  box-shadow: -2px 8px 17px 5px rgba(0, 0, 0, 0.35);

  &--form {
    @include card-item-spacing;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    height: 85vh;

    background-color: white;

    border-radius: $contact-card__border-radius;

    & > *:last-child {
      margin-top: auto;
    }
  }
}
