@import "../../../../ui/styles/templates/fonts";

.table-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 5px;

  border: 1px solid #ccc;
  border-radius: 10px;

  gap: 20px;

  &--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &--group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      &--item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        input {
          border: none;
          outline: none;

          border-right: #ccc 1px solid;

          height: 30px;
          width: 40vw;

          &::placeholder {
            font-style: italic;
            font-family: Inter;
          }

          &[type="text"] {
            @include search-font;

            padding-left: 1.5rem;
          }
        }

        select {
          border: none;
          outline: none;

          @include select-font;

          display: block;
          width: 100%;
          padding: 10px;
          color: #333;
          background-color: #fff;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background: none;

          text-align: center;

          &::-ms-expand {
            display: none;
          }
        }
      }
    }
  }
}
