.table-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 5px;

  border: 1px solid #ccc;
  border-radius: 10px;

  gap: 20px;

  &--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &--group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      &--item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        input {
          height: 30px;
          width: 40vw;

          border: none;
          outline: none;
        }

        select {
          background-color: white;

          border: none;
          outline: none;
        }
      }
    }
  }
}
