@import "../../../../../../styles/templates/index";

.add-contact-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;

  button {
    @extend .contact-btn-container;

    width: 20vw;
  }
}
