$contact-table--add-btn__zIndex: 2;
$contact-table__teal-color: #0a8dd0;

$contact-table--background__teal-color: #0a8dd0;
$contact-btn__active-color: #3594c4;

$contact-btn__shadow-color: rgba(10, 141, 208, 0.2);

$contact-card-container__background-color: #f0f0f0;
